.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 10px;
}

nav {
    flex-grow: 1;
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.nav-menu li {
    margin-right: 20px;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.nav-menu a:hover {
    background-color: #0056b3;
}

.active {
    background-color: #0056b3;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-initial {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.logout-button {
    background-color: transparent;
    border: 1px solid #ffffff;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}

.logout-button:hover {
    background-color: #ffffff;
    color: #007bff;
}
